<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <%- include('../partials/head') %>
</head>
<body>
<%- include('../partials/navbar') %>
<%- include('../partials/header', {subHeading: ''}) %>
  <header><em>About</em></header>
  <div id="about">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <br/><br/><br/><br/>
      <img src="../images/newyork.png" class="img-responsive" alt="Image">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="content">
        Wander was designed by people who have a love for culture and travel.
        When you embark on an adventure, you meet incredible people,
        see amazing sights, eat great food, and pause where ever you can to
        capture that memory with a photo. <br/><br/>
        When you revisit that trip by scrolling through your photos or
        making a photo album, you might come across a unique shot like one
        of that old man you had a conversation with; you remember it was in Tokyo,
        but where exactly was that? <br/><br/>
        It’s hard to remember because half the time you didn’t know where
        you were to begin with. <br/><br/>
        Wander will take the photographs of your journey and and map out
        where they were taken. Wander will then place them by location over a google
        maps image and create a route based on your photos, so you'll know exactly
        where the photos were taken and the route you took. <br/>
        No longer will you forget where you were when you took that amazing shot.
        <br/><br/>
        Welcome to the new way of capturing your memories and sharing them with the world.
        <br/><br/><br/><br/>
      </div>
    </div>
  </div>
<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
</body>
</html>
