<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/navbar') %>
  <%- include('../partials/header', {subHeading: ''}) %>
  <header><em>Meet The Team</em></header> <br>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="contact_list">
        <div class="col-xs-6 col-md-3">
          <a href="" class="thumbnail">
          <img src="../images/stephen.png" alt="...">
          </a>
        </div>
        <ul><br/>
          Stephen Kempisty <br/>
          stephen.kempisty@gmail.com
        </ul>
        <hr>
        <div class="col-xs-6 col-md-3">
          <a href="" class="thumbnail">
          <img src="../images/kyle.png" alt="...">
          </a>
        </div>
          <br/>
        <ul>
          Kyle Firstenberg <br>
          kylefberg@me.com
        </ul>
        <hr>
        <div class="col-xs-6 col-md-3">
          <a href="" class="thumbnail">
          <img src="../images/wen.png" alt="...">
          </a>
        </div>
        <ul><br/>
          Wen Jen <br/>
          wjen85@gmail.com
        </ul>
        <hr>
        <div class="col-xs-6 col-md-3">
          <a href="" class="thumbnail">
          <img src="../images/alex.png" alt="...">
          </a>
        </div>
        <ul><br/>
         Alex Aleksanyan <br/>
         aleksanyanalek@gmail.com
        </ul>
      </div>
     <br/><br/><br/><br/><br/><br/><br/>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <br/><br/>
    <img src="../images/newyork.png" class="img-responsive" alt="Image">
  </div>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
</body>
</html>
