<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= apikey %>"></script>

  <%- include('../partials/head') %>
  <%- include('../partials/scripts') %>
</head>
<body>
  <%- include('../partials/navbar') %>
  <%- include('../partials/header', {subHeading: 'TRIP show'}) %>
<main>

  <div class="grab-loc" title="<%= tripData.tripId %>">
    <div id="map"></div>
  </div>

    <!-- <div id="googleMap" style="width:500px;height:500px;"></div> -->


  <% photoUrls.forEach(function(url) { %>
    <img src="<%= url %>">
  <% }); %>

</main>
  <%- include('../partials/googleMapScript') %>
  <%- include('../partials/footer') %>

</body>

</html>
